span{
	position:absolute;
	left:-450px;
	top: 220px;
	transition: 2s;
    /* メニューの背景色 */
	background-color: #FA5858;
}

.option{
	position: absolute;
	left:0px;
}

span img{
	width:70px;
}

#canvas_animation{
	display:block;
	background-color: #fff;
	z-index: -10;
	position: absolute;
	top: 0px;
}

.none{
	display: none;
}

body{
    width: 100%;
    height: 100%;
}

.ui-overlay-a{
	background-color: rgba(0,0,0,0);
}
