#gameScreen {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: auto;
}

#gameFrame {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

#canvas {
    position: absolute;
    z-index: 1;
    left: 87px;
    top: 44px;
}

.none {
    display: none;    
}
